.footer {
    background-color: #222;
    color: #fff;
    padding: 30px 20px;
    font-size: 14px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
  }
  
  .footer-links a {
    color: #e89f9f;
  }