.header {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    color: white;
    margin: 0;
    font-size: 24px;
  }
  
  .header-nav .nav-link {
    color: white;
    margin-left: 20px;
    font-size: 16px;
  }